@use "../../global" as global;
/*----------------------------------------------------------
Staff
----------------------------------------------------------*/
.p-staff {
  padding-top: 100px;
  padding-bottom: 99px;
  @include global.mq(sm) {
    padding-top: 160px;
    padding-bottom: 159px;
  }
}

.p-staff__inner {
  padding-inline: 20px;
}

.l-inner {
}

.p-staff__container {
}

.p-staff__title {
}

.c-title-sec {
}

/*---------- sutahhuコンテンツ ----------*/
.p-staff__boxes {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include global.mq(sm) {
    margin-top: 60px;
    max-width: 1000px;
    margin-inline: auto;
    gap: 63px;
  }
}
.p-staff__box {
  margin: 0 auto;
  @include global.mq(sm) {
    margin: 0;
  }
}
.p-staff__box-title {
  padding-bottom: 6px;
  border-bottom: 1px solid;
  color: global.$c-base-dark;
  font-weight: 700;
  letter-spacing: 1.28px;
}
.p-staff__box-list {
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  gap: 57px;
  @include global.mq(sm) {
    padding-top: 39px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    row-gap: 62px;
  }
}
.p-staff__box-item {
  width: 100%;
  @include global.mq(sm) {
    max-width: 280px;
  }
}
.p-staff-thumbnail {
}
.p-staff-thumbnail__img {
  width: 335px;
  @include global.mq(sm) {
    width: 100%;
  }
}
.p-staff-thumbnail__img img {
  border-radius: 20px;
}
.p-staff-thumbnail__contents {
}
.p-staff-thumbnail__name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 16px;
  color: global.$c-base-dark;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.44px;
}
.p-staff-thumbnail__job {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.96px;
}
.p-staff-thumbnail__introduction {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 500;
  @include global.mq(sm) {
    padding-top: 14px;
  }
}
.p-staff-thumbnail__introduction tr {
  display: flex;
  border-top: 1px solid global.$c-base-light;
}
.p-staff-thumbnail__introduction th {
  background: global.$c-secondary;
}
.p-staff-thumbnail__head {
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 20px;
  min-width: 140px;
}
.p-staff-thumbnail__body {
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 20px;
}
