/*----------------------------------------------------------
テキストカラー
----------------------------------------------------------*/
$c-base-dark: #393939;
$c-base-light: #FFFFFF;
$c-main: #1391E6;
$c-primary: #0060A0;
$c-secondary: #DFF1FD;
$c-accent: #EE5A6D;

/*----------------------------------------------------------
フォント
----------------------------------------------------------*/


/*----------------------------------------------------------
z-index
----------------------------------------------------------*/

$z-index-header: 40;
$z-index-drawer: 50;
$z-index-hamburger: 60;
$z-index-concept-bg: -1;
$z-index-catch-copy: 11;
$z-index-calendar : 11;
$z-index-slide: 0;
$z-index-decoration: 1;
$z-index-signboard: 1;
$z-index-side-cta: 100;
$z-index-footer-cta: 100;
$z-index-to-top: 100;