@use "../global" as global;

//*---------- Contact ----------*/
.u-padding-block01 {
  @include global.mq(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.u-padding-block02 {
  @include global.mq(sm) {
    padding-top: 24px;
    padding-bottom: 21px;
  }
}