@use "../../global" as global;
/*----------------------------------------------------------
Wrapper
----------------------------------------------------------*/
.l-wrapper {
  @include global.mq(sm) {
    padding-bottom: 156px;
  }
}
.l-wrapper__inner {
  padding-inline: 20px;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
.l-wrapper__contents {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include global.mq(sm) {
    flex-direction: row;
    justify-content: center;
  }
}

main {
  @include global.mq(sm) {
    width: calc(100% - 300px - 30px);
  }
}
.l-sidebar {
  @include global.mq(sm) {
    width: 300px;
    flex-shrink: 0;
  }
}
