@use "../global" as global;

.c-arrow-link {
  position: relative;
}
.c-arrow-link::after {
  content: "";
  position: absolute;
  top: calc(50%);
  right: 11px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 14px 14px;
  mask-image: url(../img/icon-right.svg);
  background-color: global.$c-main;
  display: block;
}

svg:hover .list-icon{
  // stroke: red;
}