@use "../global" as global;

//*---------- Front-page_Concept, Front-page_Blog ----------*/
.c-button-cir-sm,
.c-button-cir-sm--long {
  color: global.$c-main;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 24px;
  border: 1px solid global.$c-main;
  background: global.$c-base-light;
  padding-block: 9px;
  padding-inline: 40px;
  transition: background-color .3s, color .3s;
  @include global.mq(lg) {
    padding-block: 10px;
    padding-inline: 45px;
  }
}
.c-button-cir-sm:hover,
.c-button-cir-sm--long:hover {
  background-color: global.$c-main;
  color: global.$c-base-light;
}
//*---------- Front-page_Footer ----------*/
.c-button-cir-md--main {
  display: flex;
  align-items: center;
  gap: 3px;
  color: global.$c-base-light;
  font-size: 14px;
  font-weight: 500;
  border-radius: 24px;
  background-color: global.$c-main;
  padding-block: 9px;
  padding-right: 30px;
  padding-left: 25px;
  transition: background-color 0.3s;
  @include global.mq(sm) {
    font-size: 16px;
    padding-block: 16px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 30px;
  }
}
.c-button-cir-md--main:hover {
  background-color: global.$c-primary;
}
.c-button-cir-md--main svg {
  width: 35px;
  height: 20px;
  @include global.mq(sm) {
    width: 30px;
    height: 20px;
  }
}
.c-button-cir-md {
  display: flex;
  align-items: center;
  gap: 9px;
  color: global.$c-main;
  font-size: 14px;
  font-weight: 500;
  border-radius: 24px;
  background-color: global.$c-base-light;
  border: 1px solid global.$c-main;
  padding-block: 8px;
  padding-right: 20px;
  padding-left: 16px;
  transition: background-color 0.3s, color 0.3s;
  @include global.mq(sm) {
    font-size: 16px;
    padding-block: 16px;
    padding-right: 45px;
    padding-left: 45px;
    border-radius: 30px;
  }
}
.c-button-cir-md:hover {
  background-color: global.$c-main;
  color: global.$c-base-light;
  .btn__icon-path {
    fill: global.$c-base-light;
  }
}
.c-button-cir-md svg {
  width: 17px;
  height: 17px;
  transition: fill;
  @include global.mq(sm) {
    width: 24px;
    height: 24px;
  }
}

//*---------- Front-page_footer-cta ----------*/
.c-button-squ-lg {
  padding-left: 15px;
  padding-right: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  width: 157px;
  height: 47px;
  background-color: global.$c-main;
}
.c-button-squ-lg__text {
  font-weight: 700;
  color: global.$c-base-light;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.16;
}
.c-button-squ-lg__text-large {
  font-size: 16px;
}

//*---------- Front-page_Header-gnav icon ----------*/
.c-btn__icon-path {
}

//*---------- Page-Guid treatment ----------*/
.c-button-cat {
  display: block;
  max-width: 600px;
  padding-block: calc(15px - 1px);
  color: global.$c-main;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.6px;
  border-radius: 12px;
  border: 1px solid global.$c-main;
  background-color: global.$c-base-light;
  text-align: center;
  transition: background-color .3s, color .3s;
  @include global.mq(sm) {
    min-width: 140px;
    padding-inline: calc(32px - 3px);
    padding-block: calc(18px - 2px);
    border-width: 2px;
    border-radius: 12px;
    font-size: 24px;
    letter-spacing: 1.92px;
  }
}
.c-button-cat:hover {
  background-color: global.$c-main;
  color: global.$c-base-light;
}

/*---------- Contact submit ----------*/
.c-button-submit {
  cursor: pointer;
  display: inline-block;
  border-radius: 24px;
  border: 1px solid global.$c-main;
  background: global.$c-base-light;
  padding-top: calc(8px - 1px);
  padding-bottom: calc(9px - 1px);
  padding-left: calc(114px - 1px);
  padding-right: calc(114px - 1px);
  color: global.$c-main;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.12px;
  transition: background-color .3s, color .3s;
  @include global.mq(sm) {
    border-radius: 28px;
    padding-top: calc(16px - 1px);
    padding-bottom: calc(16px - 1px);
    padding-left: calc(154px - 1px);
    padding-right: calc(155px - 1px);
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}
.c-button-submit:hover {
  background-color: global.$c-main;
  color: global.$c-base-light;
}