@use "../global" as global;

//*---------- Header ----------*/
.c-tag-cir-md {
}
.c-tag-md {
}

//*---------- page-guid ----------*/
.c-tag-lg {
  display: grid;
  place-items: center;
  padding-block: 7px;
  padding-inline: 12px;
  border-radius: 24px;
  background: global.$c-main;
  color: global.$c-base-light;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
}
.c-tag-lg--accent {
  display: grid;
  place-items: center;
  padding-block: 7px;
  padding-inline: 12px;
  border-radius: 24px;
  background: global.$c-accent;
  color: global.$c-base-light;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
}
.c-tag-flag {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 80%, 0 100%);
  padding-top: 14px;
  width: 80px;
  height: 60px;
  color: global.$c-base-light;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  background-color: global.$c-main;
  @include global.mq(sm) {
    padding-top: 24px;
    width: 100px;
    height: 80px;
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}
.c-tag-flag--accent {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 80%, 0 100%);
  padding-top: 16px;
  width: 80px;
  height: 60px;
  text-align: center;
  color: global.$c-base-light;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3.5px;
  background-color: global.$c-accent;
  @include global.mq(sm) {
    text-align: left;
    padding-top: 24px;
    padding-left: 31px;
    width: 100px;
    height: 80px;
    font-size: 16px;
    letter-spacing: 7.2px;
  }
}

//*---------- archive ----------*/
.c-tag-cir-sm {
}
.c-tag-md {
  position: relative;
}
.c-tag-md::after {
  content: "お知らせ";
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 5px;
  padding-block: 2px;
  padding-inline: 8px;
  border-radius: 10px;
  width: fit-content;
  min-width: 56px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  font-size: 10px;
  font-weight: 500;
  color: global.$c-base-light;
  background: global.$c-main;
  @include global.mq(sm) {
    content: "カテゴリ1";
    left: 0px;
    margin-top: 0px;
    padding-block: 6px;
    padding-inline: 12px;
    border-radius: 12px;
    font-size: 11px;
  }
  @include global.mq(md) {
    top: 18px;
  }
}
.c-tag-sm {
}

//*---------- single ----------*/
.c-tag-md {


}
.c-tag-sm {
}

//*---------- page-contact ----------*/
.c-tag-required {
}

//*---------- page-book ----------*/
.c-tag-required {
}
