@use "../../global" as global;

/*----------------------------------------------------------
Front-page_Blog
----------------------------------------------------------*/
.p-blog {
  padding-top: 100px;
  padding-bottom: 108px;
  @include global.mq(sm) {
    padding-top: 160px;
    margin-bottom: 60px;
  }
}

.p-blog__inner {
  padding-inline: 20px;
}
.p-blog__container {
}

.p-blog__title {
}

//*---------- スタッフブログ ----------*/
.p-blog__contents {
  padding-top: 48px;
  text-align: center;
  @include global.mq(sm) {
    padding-top: 79px;
  }
}

.p-blog-box {
}
.p-blog-box__thumbnails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include global.mq(sm) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    row-gap: 60px;
    column-gap: 50px;
    max-width: 1000px;
  }
}
.p-blog-box__thumbnail {
}
.p-blog-box__link {
  display: flex;
  gap: 10px;
  @include global.mq(sm) {
    gap: 0px;
    max-width: 300px;
    flex-direction: column;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
  }
}
.p-blog-box__card {
  position: relative;
}
.p-blog-box__card.is-new::after {
  content: "NEW";
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;
  color: global.$c-base-light;
  font-size: 10px;
  font-weight: 700;
  background-color: global.$c-accent;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -8px;
  @include global.mq(sm) {
    width: 60px;
    height: 60px;
    font-size: 16px;
    top: -20px;
  }
}
.p-blog-box__img {
  overflow: hidden;
  flex-shrink: 0;
  width: 133px;
  @include global.mq(sm) {
    width: 300px;
    border-radius: 20px 20px 0px 0px;
  }
}
.p-blog-box__img img {
  object-fit: cover;
  aspect-ratio: 133 / 101;
  overflow: hidden;
  transition: transform 0.3s;
  @include global.mq(sm) {
    aspect-ratio: 300 / 188;
  }
}
.p-blog-box__link:hover .p-blog-box__img img {
  transform: scale(1.1);
}
.p-blog-box__caption {
  position: relative;
  @include global.mq(sm) {
    position: relative;
    padding-top: 23px;
    padding-inline: 24px;
    padding-bottom: 12px;
  }
}
.p-blog-box__category{
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 5px;
  padding-block: 2px;
  padding-inline: 8px;
  border-radius: 10px;
  width: fit-content;
  min-width: 56px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  font-size: 10px;
  font-weight: 500;
  color: global.$c-base-light;
  background: global.$c-main;
  @include global.mq(sm) {
    top: -15px;
    left: 24px;
    margin-top: 0px;
    padding-block: 6px;
    padding-inline: 12px;
    border-radius: 14px;
    font-size: 11px;
  }
}
.p-blog-box__text {
  padding-top: 29px;
  text-align: left;
  color: global.$c-base-dark;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  transition: color 0.3s, transform;
  //下記で文字数制限（必要なくなれば消してください）
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 任意の行数を指定 */
  @include global.mq(sm) {
    display: block;
    padding-top: 0px;
    font-size: 16px;
    line-height: 24px; /* 150% */
  }
}
.p-blog-box__link:hover .p-blog-box__text {
  color: global.$c-main;
}
.p-blog-box__date {
  text-align: left;
  display: block;
  padding-top: 7px;
  color: #888;
  font-size: 11px;
  font-weight: 500;
  @include global.mq(sm) {
    padding-top: 3px;
  }
}

.p-blog-box__button {
  margin-top: 49px;
  display: inline-block;
  @include global.mq(sm) {
    margin-top: 72px;
  }
}
