@use "../../global" as global;

/*----------------------------------------------------------
Front-page_Concept
----------------------------------------------------------*/
.p-concept {
  padding-top: 60px;
  padding-bottom: 1000px;
  background: url("../img/index_concept_sp_bg.webp") no-repeat left top;
  background-size: auto 82vw;
  background-position: 12px 60px;
  @include global.mq(sm) {
    background-size: auto 56.8vw;
    background-position: 418px 25px;
  }
}
.p-concept__inner {
  padding-inline: 20px;
}
.p-concept__container {
  padding-top: 110px;
  @include global.mq(sm) {
    padding-top: 145px;
  }
}
.p-about-concept {
  @include global.mq(sm) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  @include global.mq(md) {
    gap: calc(100vw / 1280px * 95px - 20px);
  }
} //

//*---------- 右(上)側コンテンツ ----------*/
.p-about-concept__contents {
  text-align: center;
  @include global.mq(sm) {
    text-align: left;
    min-width: 300px;
    flex-grow: 1;
  }
  @include global.mq(md) {
    padding-top: 34px;
    padding-right: calc(100vw / 1280px * 138px - 20px);
  }
}
.p-about-concept__title-en {
  text-align: left;
  padding-bottom: 15px;
  @include global.mq(sm) {
    padding-bottom: 25px;
  }
}
.p-about-concept__title-ja {
  text-align: left;
}
.p-about-concept__text {
  padding-top: 26px;
  text-align: left;
  color: global.$c-base-dark;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  @include global.mq(sm) {
    padding-top: 35px;
  }
}
.p-about-concept__button {
  margin-top: 44px;
  display: inline-block;
  @include global.mq(sm) {
    margin-top: 46px;
  }
}

//*---------- 左(下)側コンテンツ ----------*/
.p-about-concept__img {
  margin-top: 50px;
  position: relative;
  top: 0;
  left: calc(50% - 50vw);
  @include global.mq(sm) {
    margin-top: 0px;
    width: calc(640px / 1280px * 100% + 20px);
    flex-shrink: 0;
  }
} //
.p-about-concept__img img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 0px 20px 20px 0px;
  @include global.mq(sm) {
    height: 438px;
  }
}
