@use "../../global" as global;

/*----------------------------------------------------------
Front-page_Fv
----------------------------------------------------------*/
.p-fv {
  padding-top: calc(60px + 15px); //header + padding
  @include global.mq(sm) {
    padding-top: calc(80px + 40px);
  }
}
.p-fv__inner {
  padding-inline: 20px;
  @include global.mq(sm) {
    padding-inline: 60px;
  }
}
.p-fv__container {
  max-width: 1920px;
  margin: 0 auto;
}

//*---------- Slider ----------*/
.p-fv__slide {
}

.p-slide {
  height: 447px;
  position: relative;
  z-index: global.$z-index-slide;
  max-width: 1160px;
  margin-inline: auto;
  @include global.mq(sm) {
    height: 325px;
  }
  @include global.mq(pc) {
    height: 520px;
  }
}
.p-slide__swiper {
  overflow: hidden;
}
.p-slide__wrapper {
}
.p-slide__slide {
  border-radius: 8px;
  overflow: hidden;
}
.p-slide__card {
  text-align: center;
}
.p-slide__card img {
  height: 447px;
  object-fit: cover;
  object-position: -32px 0px;
  aspect-ratio: 768 / 447;
  filter: brightness(90%);
  @include global.mq(ss) {
    object-position: left;
  }
  @include global.mq(sm) {
    border-radius: 20px;
    height: auto;
    aspect-ratio: 1160 / 520;
    object-position: 0 0;
  }
}
.p-slide__arrow {
}
.p-slide__arrow-next {
}
.p-slide__arrow-prev {
}

.p-slide__arrow-next::after,
.p-slide__arrow-prev::after {
  content: "";
  position: absolute;
  top: calc(50% + 3px);
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  @include global.mq(sm) {
    top: calc(50% + 4px);
    width: 64px;
    height: 64px;
  }
}
.p-slide__arrow-next::after {
  left: 50%;
  background: url(../img/slide-arrow-right.webp) no-repeat center center /
    contain;
  @include global.mq(sm) {
    left: calc(50% - 8px);
  }
}
.p-slide__arrow-prev::after {
  right: 50%;
  background: url(../img/slide-arrow-left.webp) no-repeat center center /
    contain;
  @include global.mq(sm) {
    right: calc(50% - 12px);
  }
}

.p-slide__pagination {
}

//*---------- キャッチコピー ----------*/
.p-slide__catch-copy {
  position: absolute;
  bottom: 34px;
  left: 18px;
  z-index: global.$z-index-catch-copy;
  @include global.mq(sm) {
    width: 250px;
    bottom: 40px;
    left: 40px;
  }
  @include global.mq(md) {
    width: 350px;
    bottom: 55px;
    left: 60px;
  }
  @include global.mq(pc) {
    width: 420px;
  }
}
//

//*---------- p-fv__bottom-information ----------*/
.p-fv__bottom-information {
  @include global.mq(md) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 59px;
  }
}

//*---------- カレンダー ----------*/
.p-fv__calendar {
  width: 100%;
  max-width: 575px;
  position: relative;
  bottom: 24px;
  left: 0px;
  z-index: global.$z-index-calendar;
  @include global.mq(md) {
    max-width: 477px;
    bottom: 35px;
  }
}
.p-fv__calendar-img img {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
//

//*---------- 新着記事 ----------*/
.p-fv__news-topic {
  margin-top: 17px;
  @include global.mq(md) {
    margin-top: 19px;
  }
}

.p-news-topic {
  max-width: 575px;
  width: 100%;
  @include global.mq(md) {
    max-width: 542px;
  }
}
.p-news-topic__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid global.$c-base-dark;
  @include global.mq(pc) {
    padding-bottom: 5px;
  }
}
.p-news-topic__left {
  display: flex;
  align-items: center;
  gap: 14px;
}
.p-news-topic__left-title {
  padding-left: 15px;
  color: global.$c-base-dark;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.6px;
  @include global.mq(md) {
    letter-spacing: 2px;
  }
}
.p-news-topic__left-news {
  color: global.$c-main;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1.1px;
  position: relative;
  top: 3px;
  @include global.mq(md) {
    font-size: 12px;
    letter-spacing: 1.2px;
  }
}
.p-news-topic-box__right {
  color: #888;
  font-size: 11px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 3px;
  opacity: 1;
  transition: opacity 0.3s;
  @include global.mq(md) {
    font-size: 12px;
  }
}
.p-news-topic-box__right:hover {
  opacity: 0.7;
}
.p-news-topic__contents {
  display: flex;
  align-items: center;
  gap: 23px;
  position: relative;
  padding-block: 11px;
  border-bottom: 1px solid global.$c-base-dark;
  color: global.$c-base-dark;
  transition: all 0.3s;
  @include global.mq(md) {
    gap: 25px;
    padding-block: 9px;
  }
}
.p-news-topic__contents::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: calc(50% - 2px);
  right: 4px;
  transform: translateY(-50%);
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 16px 16px;
  mask-image: url(../img/icon-right.svg);
  background-color: global.$c-base-dark;
  transition: all 0.3s;
  @include global.mq(md) {
    top: 50%;
    right: 6px;
  }
}
.p-news-topic__contents:hover {
  color: global.$c-main;
}
.p-news-topic__contents:hover::after {
  background-color: global.$c-main;
  right: 0px;
}

.p-news-topic_date {
  padding-left: 7px;

  font-size: 12px;
  font-weight: 500;
  @include global.mq(md) {
    padding-left: 13px;
    //PC表示の時だけ日付を"."表記にする
    display: none;
  }
}
//PC表示の時だけ日付を"."表記にする
.p-news-topic__contents::before {
  content: attr(data-custom-date);
  font-size: 12px;
  font-weight: 500;
  padding-left: 7px;
  @include global.mq(md) {
    padding-left: 13px;
  }
}
.p-news-topic_text {
  font-size: 14px;
  font-weight: 500;
  @include global.mq(xs, max) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
    display: inline-block;
  }
}
//

//*---------- Swiper Default CSS ----------*/
.fv-swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-next {
}
.swiper-button-prev {
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}
.swiper-pagination {
}
//重要(ページネーションの位置)
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 17px;
  left: -17px;
  @include global.mq(md) {
    bottom: 4px;
    left: -27px;
  }
}
//ページネーションバレッツ
.p-fv__slide .swiper-pagination-bullets {
  display: flex;
  flex-direction: column;
}
//ページネーションバレット
.p-fv__slide .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-top: 8px;
  width: 6px;
  height: 6px;
  @include global.mq(md) {
    margin-top: 11px;
    width: 8px;
    height: 8px;
  }
}

//
