@use "../../global" as global;

/*----------------------------------------------------------
Front-page_Fv
----------------------------------------------------------*/
.p-fv {
  padding-top: calc(60px + 15px);//header + padding
  @include global.mq(lg) {
    padding-top: calc(80px + 40px);
  }
}
.p-fv__inner {
  padding-inline: 20px;
  @include global.mq(lg) {
    padding-inline: 60px;
  }
}
.p-fv__container {
}

//*---------- Slider ----------*/
.p-fv__slide {
}

.p-slide {
  position: relative;
  z-index: global.$z-index-slide;
}
.p-slide__swiper {
  overflow: hidden;
}
.p-slide__wrapper {
}
.p-slide__slide {
}
.p-slide__card {
}
.p-slide__card img {
  height: 447px;
  object-fit: cover;
  object-position: -32px 0px;
  @include global.mq(lg) {
    height: auto;
    aspect-ratio: 1160 / 520;
    object-position: 0 0;
  }
}
.p-slide__arrow {
}
.p-slide__arrow-next {
}
.p-slide__arrow-prev {
}

.p-slide__arrow-next::after,
.p-slide__arrow-prev::after {
  content: "";
  position: absolute;
  top: calc(50% + 3px);
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  @include global.mq(lg) {
    top: calc(50% + 4px);
    width: 64px;
    height: 64px;
  }
}
.p-slide__arrow-next::after {
  left: 50%;
  background: url(../img/slide-arrow-right.webp) no-repeat center center / contain;
  @include global.mq(lg) {
    left: calc(50% - 8px);
  }
}
.p-slide__arrow-prev::after {
  right: 50%;
  background: url(../img/slide-arrow-left.webp) no-repeat center center / contain;
  @include global.mq(lg) {
    right: calc(50% - 8px);
  }
}

.p-slide__pagination {
}

//*---------- キャッチコピー ----------*/
.p-slide__catch-copy {
  position: absolute;
  bottom: 34px;
  left: 18px;
  z-index: global.$z-index-catch-copy;
  @include global.mq(lg) {
    bottom: 55px;
    left: 60px;
  }
}
//

//*---------- p-fv__bottom-information ----------*/
.p-fv__bottom-information {

}

//*---------- カレンダー ----------*/
.p-fv__calendar {
  width: 100%;
  max-width: 575px;
  position: relative;
  bottom: 24px;
  left: 0px;
  z-index: global.$z-index-calendar;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  @include global.mq(lg) {
    position: static;
    outline: 1px solid red;
    max-width: 477px;
    // bottom: 24px;
    // right: 0px;
    // left: auto;
  }
}
.p-fv__calendar-img img {
}
//

//*---------- 新着記事 ----------*/
.p-fv__news-topic {
  margin-top: 17px;
}

.p-news-topic {
  max-width: 575px;
}
.p-news-topic__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  padding-bottom: 5px;
  border-bottom: 1px solid global.$c-base-dark;
}
.p-news-topic__left {
  display: flex;
  align-items: center;
  gap: 14px;
}
.p-news-topic__left-title {
  padding-left: 15px;
  color: global.$c-base-dark;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.6px;
}
.p-news-topic__left-news {
  color: global.$c-main;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1.1px;
  position: relative;
  top: 3px;
}
.p-news-topic-box__right {
  color: #888;
  font-size: 11px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.p-news-topic__contents {
  display: flex;
  align-items: center;
  gap: 23px;
  position: relative;
}
.p-news-topic__contents::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: calc(50% - 2px);
  right: 4px;
  transform: translateY(-50%);

  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 16px 16px;
  mask-image: url(../img/icon-right.svg);
  background-color: global.$c-base-dark;
}
.p-news-topic_date {
  padding-block: 13px;
  padding-left: 7px;
  color: global.$c-base-dark;
  font-size: 12px;
  font-weight: 500;
}
.p-news-topic_text {
  color: global.$c-base-dark;
  font-size: 14px;
  font-weight: 500;
}
//

//*---------- Swiper Default CSS ----------*/
.fv-swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-next {
}
.swiper-button-prev {
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}
.swiper-pagination {
}
//重要(ページネーションの位置)
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 17px;
  left: -17px;
  @include global.mq(lg) {
    bottom: 4px;
    left: -27px;
  }
}
//ページネーションバレッツ
.p-fv__slide .swiper-pagination-bullets {
  display: flex;
  flex-direction: column;
}
//ページネーションバレット
.p-fv__slide .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-top: 8px;
  width: 6px;
  height: 6px;
  @include global.mq(lg) {
    margin-top: 11px;
    width: 8px;
    height: 8px;
  }
}

//
