@charset "UTF-8";
/*----------------------------------------------------------
テキストカラー
----------------------------------------------------------*/
/*----------------------------------------------------------
フォント
----------------------------------------------------------*/
/*----------------------------------------------------------
z-index
----------------------------------------------------------*/
/*----------------------------------------------------------
ブレイクポイント
----------------------------------------------------------*/
/*----------------------------------------------------------
Front-page_Footer
----------------------------------------------------------*/
.p-footer-decoration {
  position: relative;
  margin-top: 108px;
  height: 32px;
}
@media screen and (min-width: 1000px) {
  .p-footer-decoration {
    margin-top: 170px;
  }
}

.p-footer-decoration::after {
  content: "";
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../img/footer_decoration-top.webp") repeat;
  background-size: 83px 32px;
  background-position: 20px top;
}
@media screen and (min-width: 1000px) {
  .p-footer-decoration::after {
    background-position: 0px top;
  }
}

.l-footer__inner {
  padding-top: 13px;
  padding-inline: 10px;
  background-color: #DFF1FD;
}
@media screen and (min-width: 768px) {
  .l-footer__inner {
    padding-inline: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .l-footer__inner {
    padding-top: 58px;
  }
}

.l-footer__infomation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 30px;
  padding-inline: 10px;
  padding-bottom: 13px;
  background-color: #FFFFFF;
  border-radius: 8px;
}
@media screen and (min-width: 1000px) {
  .l-footer__infomation {
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 37px;
    padding-inline: 49px;
    padding-bottom: 40px;
    border-radius: 20px;
  }
}

.p-access-box__logo img {
  width: 309px;
  height: 33px;
}
@media screen and (min-width: 1000px) {
  .p-access-box__logo img {
    width: 404px;
    height: 41px;
  }
}

.p-access-box__adress {
  padding-top: 12px;
  color: #393939;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1000px) {
  .p-access-box__adress {
    padding-top: 10px;
  }
}

.p-access-box__tel {
  padding-top: 15px;
}

.p-access-box__business-hours {
  margin-top: -3px;
  color: #1391E6;
  font-size: 12px;
  font-weight: 500;
}

.p-access-box__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  padding-top: 20px;
}
@media screen and (min-width: 1000px) {
  .p-access-box__buttons {
    padding-top: 18px;
    gap: 4.347826087%;
  }
}

.p-access-box__calendar {
  margin-top: 20px;
  margin-inline: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  height: auto;
  max-width: 460px;
}
@media screen and (min-width: 1000px) {
  .p-access-box__calendar {
    width: 477px;
    max-width: 477px;
    height: 166px;
  }
}

.p-access-box__calendar-img {
  width: 100%;
  height: auto;
}

.p-map-box {
  width: 100%;
  margin-top: 20px;
  margin-inline: auto;
  padding-inline: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 480px;
}
@media screen and (min-width: 1000px) {
  .p-map-box {
    margin-top: 10px;
    padding-inline: 0px;
    max-width: 385px;
  }
}

.p-map-box iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 315/315;
}
@media screen and (min-width: 1000px) {
  .p-map-box iframe {
    aspect-ratio: 385/385;
  }
}

.l-footer__nav {
  padding-top: 59px;
  padding-bottom: 61px;
  padding-inline: 10px;
}
@media screen and (min-width: 1000px) {
  .l-footer__nav {
    padding-top: 41px;
  }
}

.p-lnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 39px;
}
@media screen and (min-width: 768px) {
  .p-lnav {
    gap: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1000px) {
  .p-lnav {
    gap: 40px;
  }
}

.p-lnav__item {
  color: #393939;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .p-lnav__item {
    font-size: 14px;
  }
}
@media screen and (min-width: 1000px) {
  .p-lnav__item {
    font-size: 16px;
  }
}

.p-lnav-secodary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
}

.p-lnav-secondary__item {
  margin-top: 17px;
  padding-left: 12px;
  color: #393939;
  font-weight: 500;
  position: relative;
}

.p-lnav-secondary__item::after {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/arrow-right-icon.svg") no-repeat center center;
  background-size: 6px 12px;
}

.p-lnav-secodary__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.l-footer__under {
  padding-top: 18px;
  width: 100%;
  height: 112px;
  text-align: center;
  background: #1391E6;
}
@media screen and (min-width: 1000px) {
  .l-footer__under {
    padding-top: 16px;
    height: 55px;
  }
}

.l-footer__under-text small {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}

.p-footer__bottom {
  display: none;
}